/* <================= Portfolio =================> */
#portfolio{
    padding: 100px 0;
    background-color: var(--bg-color-2);
}
#portfolio .animate-bar::before{
    border-color: var(--bg-color-2);
}

.gallery-wrapper{
    max-width: 1170px;
    margin: auto;
}
.gallery-wrapper .gallery-nav{
    display: flex;
    flex-wrap: wrap;
}
.gallery-wrapper .gallery-nav .gallery-filter{
    padding: 0 15px;
    margin: 40px 0;
    text-align: center;
    width: 100%;
}
.gallery-wrapper .gallery-filter .filter-item{
    color: white;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    margin: 8px 20px 8px 20px;
    line-height: 1.2;
    position: relative;
}
.gallery-wrapper .gallery-filter .filter-item::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 50%;
    height: 2px;
    display: block;
    background-color: var(--main-color);
    transition: all 0.3s ease;
    transform-origin: center;
}
.gallery-wrapper .gallery-filter .filter-item.active::after{
    width: 100%;
    left: 0;
}
.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
}
.gallery-item{
    width: calc(100% / 3);
    padding: 15px;
}
.gallery-item.show{
    animation: fade-in 0.5s ease;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.gallery-item.hide{
    display: none;
}
.gallery-item .gallery-item-inner{
    cursor: pointer;
    position: relative;
}
.gallery-item .gallery-item-inner:hover .overlay{
    opacity: 1;
}
.gallery-item .gallery-item-inner img{
    width: 100%;
    box-shadow: -2px 3px 15px black;
    vertical-align: middle;
}
.gallery-item .gallery-item-inner .overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.1s ease-in;
}
.gallery-item .gallery-item-inner .overlay p{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}